.Roll{
    transform: translateX(50%);
    transition: transform 0.4 ease-in-out 0s;
}

.Roll:nth-of-type(even){
    transform: translateX(-50%);
}

/*當.roll同時有.show，就會回到原來位置*/
.Roll.show{
    transform: translateX(0);
}


