body{font-family: arial,"Microsoft JhengHei","微軟正黑體",sans-serif !important;}

.top{
    width:100%;height: 60px;
    background-color: gray;
    color: black;
    padding: 10px;border-radius: 5px;
    display: flex;align-items: center;
    position:relative;opacity: 0.9;
    position: fixed;
}
.top-content{
    width: 13%;height: 40px;margin: 5px;
    border-radius: 5px;
    background-color: darkgrey;
    /* display: flex;justify-content: center; */
    font-size: 30px;
}
.listbox{
    /* border: midnightblue 1px solid; */
    /* padding-right: 20px; */
    padding-left:10px;
    list-style-type: none;
    background-color: darkgrey;
}
:hover.listbox{
    background-color:gray;
    color: midnightblue;
}
.picture{
    width: 25%;
    /* margin-left: 5%;margin-top: 50px; */
    padding: 2px;
    border-radius: 10px;  
    
}
.text{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;font-size: 20px;
    background-color:lavender;
    border-radius: 10px;
    /* margin: 50px; */
    width: 100%; background-color: gainsboro;padding-bottom: 50px;
    /* display: inline; */
    /* display: none; */
}
.textin{
    width: 100%;
    margin-right: 20%;margin-top: 50px;
    padding: 30px;font-size: 30px;
    /* background-color:lavender; */
    border-radius: 10px;
}
/* :hover.fp{
    width: 110%;
    margin-top: -15px;margin-left: -5%;
    padding: 2px;
} */
.fp{
    width: 70%;border-radius: 10px;
    object-fit:cover;text-align: center;
}
.fps{
    width: 100%;height: 296px;border-radius: 10px;
    object-fit:cover
}
.slideShow{
    width: 100%;
    height: 580px;
}

.dropdown-menu li:hover .sub-menu {visibility: visible;}
.dropdown:hover .dropdown-menu {display: block;}

.header{
    background-color:#FFD4D4;
    height:60px;
    text-align:center;
    line-height:60px;
}
.sidebar_left{
    background-color:#FFECC9;
    width:600px;
    text-align:center;
    float:left;
    /* display: flex;
    justify-content: center; */
}
.content{
    margin-left:400px;
    display: none;
}
p{
    font-size: 20px;
    font-weight:bold;
    color: brown;
}
.bottomstyle{
    font-size: 20px;
    border: none;
    color: white;
    display: inline-block;
    padding: 5px 15px;
    margin-right: 5px;
    text-align: center;
    background-color:cornflowerblue;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#bordertext{
    width: 500px;border: solid 2px;padding: 30px;
    /* justify-content:center; */
}
#bordertext>#boderbottom{
    display: flex;
   position: relative;left: 300px;top: 50px;
}
:hover.l-list{
    position: absolute;
    top: 100%;
    z-index: -1;
    width: 100%;
    padding: 4px 0;
    background-color: #fff;
    border: 1px solid #cecece;
    box-sizing: border-box;
    opacity: 0;
    visibility: visible;
}
.l-list {
    position: absolute;
    top: 100%;
    z-index: -1;
    width: 100%;
    padding: 4px 0;
    background-color: #fff;
    border: 1px solid #cecece;
    box-sizing: border-box;
    opacity: 0;
    visibility: hidden;
}

.l-list-item {
    list-style: none;
    padding: 4px 8px;
}

.l-list-item a {
    display: block;
    padding: 4px 0;
    font-size: 16px;
    color: #000;
    text-align: center;
    text-decoration: none;
    transition: all 0.2s linear;
}

.l-list-item a:hover {
    color: #fff;
    background-color: #cecece;
}

.l-drop-menu {
    position: relative;
    width: 142px;
    height: auto;
    margin: 50px auto;
}

.l-drop-menu > span {
    position: relative;
    display: block;
    padding: 8px 20px;
    text-align: center;
    color: #58a;
    background-color: #fff;
    cursor: pointer;
}

.l-drop-menu > span::after {
    position: absolute;
    top: 8px;
    right: 16px;
    content: '';
    width: 0;
    height: 0;
    overflow: hidden;
    border-width: 8px;
    border-style: dashed dashed solid;
    border-color: transparent transparent #c2c2c2;
    transition: all 0.3s linear;
}

.l-drop-menu > span:hover {
    color: #fff;
    background-color: #cecece;
}

.l-drop-menu > span:hover::after {
    top: 16px;
    border-style: solid dashed dashed;
    border-color: #ffffff transparent transparent;
}

.l-menu-1 .l-list {
    transform: translate3d(0, 10px, 0);
    backface-visibility: hidden;
    transition: all 0.3s linear;
}
.l-menu-1:hover .l-list {
    z-index: 2;
    overflow: auto;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s linear;
    transform: translate3d(0, 0, 0);
}

