body{
    background-color: none;
}
.textType{
    color: rgb(253, 253, 253);
    font-size:60px;
    font-style: normal;
    font-weight: bold;
    justify-content: center;
}
.background{
    width: 100%;
    height: 600px;
    background-image: url("http://img.zcool.cn/community/038490c5b2ddf77a80121b994cfee78.jpg");
    display: block;
    position: relative;
    padding-right: 20%;
    padding-left: 20%;
    padding-top: 3%;
    padding-bottom: 2%;
}
/*方格動畫*/
.square {
    width: 400px;
    height: 300px;
    background-image: url("http://img.mp.itc.cn/upload/20160807/4e680e5acd6049bd896fb1463a228855_th.jpg");
    display: block;
    position: relative;

    /* animation 參數設定
    animation-name: MoveToRight;    /*動畫名稱，需與 keyframe 名稱對應*/
    animation-duration: 4s;    /*動畫持續時間，單位為秒*/
    animation-delay: 2s;    /*動畫延遲開始時間*/
    animation-iteration-count: infinite;    /*動畫次數，infinite 為無限次*/ 
}

/* 關鍵影格(@keyframe) */
@keyframes MoveToRight {
    0% { left: 0; }
    25% { left: 20%; }
    50% { left: 40%; }
    75% { left: 60%; }
    100% { left: 80%; }
}

.textPosition{
    padding: 50%;
}
.wrap1 { /*文字剪影特效*/
    width: 100vw;
    height: 100vh;
    background: url("https://pic.52112.com/180807/EPS-180807_10/V2ZQepG5af_small.jpg")no-repeat left bottom;
    background-size: cover;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

  /*文字簍空特效
  HTML
  <div class="wrap">
    <div class="layer">
        <span class="wrap">
            CSS
        </span>
    </div>
  </div>
  */

.wrap2 { 
    display: block;
    width: 100vw;
    height: 100vh;
    background: url("http://pic.616pic.com/bg_w1180/00/04/38/ZVFKva6Xzy.jpg!/fh/300") no-repeat center center;
    background-size: cover;
}

.layer {
    background: rgba(255, 255, 255, 0.5);
    width: 100vw;
    height: 100vh;
}

.layer .wrap2 {
    font-weight: bold;
    font-size: 700px;
    text-align: center;
    line-height: 100vh;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
/*用css做出動畫效果*/
/* .btn {
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
    font-family: Arial;
    color: #FFFFFF;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    border: none;
    width: 150px;
    height: 50px;
    position: relative;
    background-color: #00A0D6;
    transition: background-color 0.4s;
  } */
  
.btn-secondary:hover {
    background-color: #007DA7;
  }

.content {
    position: absolute;
    width: 100px;
    height: 50px;
    left: 26px;
    text-align: center;
    line-height: 50px;
    /*最後才加上的動畫效果*/
    transition: top 0.3s;
  }
  .top {
    top: 0px;
  }
  .btn:hover .top {
    top: -50px;
  }
  .bottom {
    top: 50px;
  }
  .btn:hover .bottom {
    top: 0px;
  }
  .left{
      left:50px;
  }
  .btn:hover.left{
      left:0px;
  }
  .right{
      right:50px;
  }
  .btn:hover.right{
      right:0px;
  }
  /* 
  超出的地方隱形
  .btn{  
    overflow:hidden;
  } */
